@charset "UTF-8";
/*
*{margin:0;padding:0;}
*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, select, textarea {
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: '微软雅黑'; }

ul, ol, dl, li {
  list-style: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

u, a {
  text-decoration: none; }

a {
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 16px; }

input {
  border: 0; }

form input, input, button {
  outline: none; }

img {
  border: 0;
  vertical-align: middle; }

.clearfu::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

/* 头部 */
body {
  background: #f9f9f9; }

.header {
  background: #333; }

.header .header-container {
  width: 1226px;
  height: 35px;
  margin: 0 auto; }

.header .header-container .header-left {
  float: left; }

.header .header-container .header-left ul li {
  float: left; }

.header .header-container .header-left ul li .cur {
  background: #555; }

.header .header-container .header-left ul li a {
  display: block;
  height: 35px;
  width: 145px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 35px; }

.header .header-container .header-left ul li a:hover {
  background: #555; }

.header .header-container .header-right {
  float: right; }

.header .header-container .header-right .header-login {
  float: left;
  height: 35px;
  line-height: 35px; }

.header .header-container .header-right .header-login a {
  font-size: 12px;
  color: #fff;
  user-select: none; }

.header .header-container .header-right .header-login a:hover {
  color: red; }

.header .header-container .header-right .header-login span {
  font-size: 12px;
  color: #fff;
  margin: 0 12px;
  padding: 0;
  user-select: none; }

.header .header-container .header-right .header-motool {
  float: left;
  width: 460px;
  margin-left: 12px; }

.header .header-container .header-right .header-motool .motool-tool {
  float: left;
  width: 120px;
  height: 35px;
  position: relative; }

.header .header-container .header-right .header-motool .motool-tool .motool-tool-row a {
  height: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 25px;
  display: block;
  font-size: 12px;
  margin-top: 9px; }

.header .header-container .header-right .header-motool .motool-tool:hover {
  background: #555; }

.header .header-container .header-right .header-motool .motool-tool .motool-tool-row .tool-min {
  background: url(../images/header01.png) no-repeat left center;
  margin-left: 22px; }

.header .header-container .header-right .header-motool .motool-tool .motool-tool-row .tool-new {
  background: url(../images/header02.png) no-repeat left center;
  margin-right: 22px;
  margin-left: 16px; }

.header .header-container .header-right .header-motool .motool-tool .motool-tool-row .tool-gw {
  background: url(../images/header03.png) no-repeat left center;
  margin-left: 15px;
  margin-right: 8px; }
  .header .header-container .header-right .header-motool .motool-tool .motool-tool-row .tool-gw span {
    display: block;
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 6px;
    line-height: 13px;
    height: 14px;
    float: right;
    margin-top: 3px;
    background: #e42121;
    margin-left: 5px; }

.tool-myCQ-tips {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 112;
  width: 230px;
  height: 225px;
  background: #ffffff;
  box-shadow: 0px 0px 2px 0px #e1e0e0;
  display: none; }

.tool-myCQ-infor {
  padding-top: 18px;
  padding-left: 25px;
  overflow: hidden; }

.tool-myCQ-operation {
  padding: 0px 16px 0px 25px;
  line-height: 30px;
  float: left;
  margin-top: 5px; }

.tool-myCQ-operation {
  height: auto;
  overflow: hidden; }

.tool-myCQ-infor img {
  display: block;
  float: left; }

.tool-myCQ-infor p.tool-myCQ-infor-phone {
  line-height: 16px;
  height: 16px;
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 74px; }

.tool-myCQ-infor p.tool-myCQ-infor-setting {
  line-height: 13px;
  height: 13px;
  font-size: 13px;
  color: #666666; }

.tool-myCQ-infor p {
  margin-left: 77px; }

.tool-myCQ-operation a {
  font-size: 13px;
  color: #666666; }

.tool-myCQ-operation a:hover {
  color: red; }

.tool-myCQ-operation span {
  font-size: 12px;
  color: #cfcfcf;
  margin: 0px 29px; }

.tool-myCQ-operation-cut {
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  clear: both; }

.hcyp-ewm-img {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  z-index: 112; }

.tool-container-tips {
  display: none;
  position: absolute;
  width: 315px;
  top: 100%;
  right: 0px;
  background: #ffffff;
  z-index: 112;
  box-shadow: 0px 0px 2px 0px #888; }

.tool-container-tips-warp {
  max-height: 339px;
  overflow: auto; }
  .tool-container-tips-warp .tool-tips-row {
    margin: 0px 28px;
    padding-top: 18px;
    border-bottom: 1px solid #e8e8e8;
    height: 94px; }
    .tool-container-tips-warp .tool-tips-row p {
      line-height: 25px;
      height: 50px;
      overflow: hidden; }
      .tool-container-tips-warp .tool-tips-row p a {
        font-size: 14px;
        color: #333333; }
    .tool-container-tips-warp .tool-tips-row h1 {
      font-weight: normal;
      font-size: 12px;
      color: #666666;
      line-height: 24px;
      margin-top: 5px; }
      .tool-container-tips-warp .tool-tips-row h1 span {
        font-size: 16px;
        color: #eb1a21;
        margin: 0px 6px; }
      .tool-container-tips-warp .tool-tips-row h1 b {
        margin-left: 15px;
        font-weight: normal; }
      .tool-container-tips-warp .tool-tips-row h1 a {
        float: right;
        color: #666666; }
      .tool-container-tips-warp .tool-tips-row h1 .tool-goods-tips {
        color: #e71d12;
        margin-right: 17px; }

.tool-goods-pay {
  height: 46px;
  background: #f2f2f2;
  margin-top: -1px;
  display: none; }

.tool-car-infor {
  padding: 5px 0px 5px 24px;
  width: 166px;
  float: left; }

.tool-car-infor p {
  font-size: 12px;
  color: #666666;
  line-height: 13px; }

.tool-car-infor h1 {
  font-size: 14px;
  color: #666666;
  line-height: 18px;
  margin-top: 4px;
  font-weight: normal; }

.tool-car-infor h1 span {
  color: #eb1a21;
  font-size: 16px; }

.tool-car-infor p span {
  margin-right: 3px; }

.goods-pay-btn {
  height: 46px;
  margin-left: 190px;
  color: #ffffff;
  line-height: 46px;
  text-align: center;
  background: #e71d12;
  display: block; }

h1.tips-nogoods {
  padding: 15px 0px;
  line-height: 30px;
  font-size: 12px;
  color: #666666;
  text-align: center;
  font-weight: normal;
  display: block; }

/* 导航 */
.nav {
  position: relative;
  height: 78px;
  background: #fff; }
  .nav .header-nav-container {
    height: 78px; }
    .nav .header-nav-container .nav-logo {
      float: left; }

/* 购物车商品 */
.com-width {
  width: 1226px;
  margin: 0 auto; }
  .com-width .my-car-bk {
    margin-bottom: 23px;
    overflow: hidden; }
    .com-width .my-car-bk .car-con-top {
      padding-top: 5px;
      font-size: 14px;
      color: #333;
      line-height: 66px; }
      .com-width .my-car-bk .car-con-top .lf {
        float: left; }
        .com-width .my-car-bk .car-con-top .lf .car-all-check {
          cursor: pointer;
          float: left;
          width: 14px;
          height: 14px;
          margin: 25px 18px 0 15px;
          background: url(../images/pro-sel-bac01.png) no-repeat; }
          .com-width .my-car-bk .car-con-top .lf .car-all-check input {
            float: left;
            width: 14px;
            height: 14px;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer; }
        .com-width .my-car-bk .car-con-top .lf .car-checked {
          background: url(../images/pro-sel-bac02.png) no-repeat !important; }
        .com-width .my-car-bk .car-con-top .lf .car-lf-sp {
          float: left;
          margin-left: 5px; }
          .com-width .my-car-bk .car-con-top .lf .car-lf-sp span {
            color: #f12020;
            margin: 0 4px; }
      .com-width .my-car-bk .car-con-top .rt-sp {
        float: right;
        padding-left: 15px;
        margin-right: 15px;
        background: url(../images/car-icon01.png) no-repeat left center; }
    .com-width .my-car-bk .clearfix {
      overflow: hidden; }
  .com-width .car-item-ls .car-item-deal {
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden; }
    .com-width .car-item-ls .car-item-deal .car-check-box {
      cursor: pointer;
      float: left;
      width: 14px;
      height: 14px;
      margin: 72px 0 0 16px;
      background: url(../images/pro-sel-bac01.png) no-repeat; }
      .com-width .car-item-ls .car-item-deal .car-check-box input {
        float: left;
        width: 14px;
        height: 14px;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer; }
    .com-width .car-item-ls .car-item-deal .car-checked {
      background: url(../images/pro-sel-bac02.png) no-repeat !important; }
  .com-width .car-deal-rt {
    margin-left: 50px;
    border-left: 1px solid #f7f7f7; }
    .com-width .car-deal-rt .car-deal-top {
      border-bottom: 1px solid #f7f7f7;
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      color: #666666; }
      .com-width .car-deal-rt .car-deal-top .car-sp-lf {
        height: 38px;
        line-height: 38px;
        padding-left: 12px; }
      .com-width .car-deal-rt .car-deal-top .car-opt-bk {
        float: right;
        margin-top: 8px; }
        .com-width .car-deal-rt .car-deal-top .car-opt-bk .opt-like {
          display: block;
          float: left;
          width: 24px;
          height: 22px;
          margin: 0 22px 0 6px;
          background: url(../images/car-icon06.png) no-repeat; }
        .com-width .car-deal-rt .car-deal-top .car-opt-bk .opt-del {
          display: block;
          float: left;
          width: 24px;
          height: 24px;
          margin: 0 22px 0 6px;
          background: url(../images/car-icon07.png) no-repeat; }
    .com-width .car-deal-rt .car-deal-sp {
      height: 112px;
      padding: 5px 0px; }
      .com-width .car-deal-rt .car-deal-sp .car-deal-pc {
        display: block;
        float: left;
        width: 110px;
        height: 110px;
        margin-left: 10px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-pc img {
          display: block;
          width: 110px;
          height: 110px; }
      .com-width .car-deal-rt .car-deal-sp .car-deal-name {
        float: left;
        margin-left: 13px;
        width: 400px; }
      .com-width .car-deal-rt .car-deal-sp .car-deal-name {
        width: 300px;
        height: 110px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-name .h3 {
          color: #333333;
          display: table-cell;
          vertical-align: middle;
          height: 110px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-name .h3 {
          font-size: 14px;
          font-weight: normal; }
      .com-width .car-deal-rt .car-deal-sp .car-deal-price {
        float: left;
        margin-left: 25px;
        width: 190px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-price .del-price {
          font-size: 14px;
          color: #909090;
          margin-top: 18px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          text-decoration: line-through; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-price .now-price {
          font-size: 18px;
          color: #000;
          height: 42px;
          line-height: 42px;
          text-align: center; }
          .com-width .car-deal-rt .car-deal-sp .car-deal-price .now-price span {
            color: #eb1a21;
            margin: 0 22px;
            font-size: 16px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-price .now-price {
          font-size: 14px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-price .rec-price {
          font-size: 12px;
          color: #999;
          height: 14px;
          line-height: 14px;
          text-align: center; }
      .com-width .car-deal-rt .car-deal-sp .car-deal-qt {
        float: left;
        width: 225px;
        height: 35px;
        margin: 38px 0 0 30px;
        overflow: hidden; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-qt label {
          display: block;
          float: left;
          width: 50px;
          font-size: 18px;
          color: #000;
          line-height: 35px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-qt label {
          font-size: 14px; }
        .com-width .car-deal-rt .car-deal-sp .car-deal-qt .car-quantity-form {
          float: left;
          border: 1px solid #cccccc;
          width: 173px;
          height: 33px; }
          .com-width .car-deal-rt .car-deal-sp .car-deal-qt .car-quantity-form a {
            display: block;
            width: 47px;
            height: 33px;
            line-height: 27px;
            color: #bbbbbb;
            font-size: 28px;
            font-weight: bold;
            text-align: center; }
          .com-width .car-deal-rt .car-deal-sp .car-deal-qt .car-quantity-form .decrement {
            float: left;
            background: url(../images/subtract-icon.jpg) no-repeat center center; }
          .com-width .car-deal-rt .car-deal-sp .car-deal-qt .car-quantity-form input {
            display: block;
            float: left;
            padding: 0 1px;
            width: 75px;
            height: 33px;
            line-height: 33px;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            color: #000;
            font-size: 16px;
            text-align: center;
            font-family: "Microsoft YaHei","微软雅黑","Arial",sans-serif; }
          .com-width .car-deal-rt .car-deal-sp .car-deal-qt .car-quantity-form .increment {
            float: right;
            background: url(../images/add-icon.png) no-repeat center center; }
      .com-width .car-deal-rt .car-deal-sp .car-item-sta {
        float: right;
        width: 120px;
        font-size: 14px;
        color: black;
        line-height: 112px;
        text-align: center; }
    .com-width .car-deal-rt .car-deal-sp {
      height: auto; }

/* 购物车商品 */
/* 结算 */
.car-sum-price {
  position: fixed;
  left: 0px;
  bottom: 0px; }

.car-sum-price {
  width: 100%;
  height: 100px;
  background: #313131;
  box-shadow: 0px 0px 3px 0px #fff;
  border-top: 2px solid #fff; }
  .car-sum-price .com-width {
    width: 1226px;
    margin: 0 auto; }
    .car-sum-price .com-width .sum-pro-lf .car-pro-count {
      float: left;
      margin-left: 5px;
      font-size: 14px;
      color: #fff;
      line-height: 100px; }
      .car-sum-price .com-width .sum-pro-lf .car-pro-count span {
        font-size: 22px;
        color: #f12020;
        margin: 0 16px; }
    .car-sum-price .com-width .sum-pro-lf i {
      display: block;
      float: left;
      margin: 42px 27px 0 47px;
      font-style: normal;
      border-left: 2px solid #acacac;
      height: 16px; }
    .car-sum-price .com-width .sum-pro-lf .car-pro-int {
      float: left;
      font-size: 14px;
      color: #fff;
      line-height: 100px; }
    .car-sum-price .com-width .sum-pro-lf .car-tc-zp {
      text-decoration: underline;
      cursor: pointer; }
    .car-sum-price .com-width .sum-pro-rt {
      float: right; }
      .car-sum-price .com-width .sum-pro-rt .sum-price {
        float: left;
        font-size: 14px;
        color: #fff;
        line-height: 100px; }
        .car-sum-price .com-width .sum-pro-rt .sum-price span {
          font-size: 16px;
          color: #f12020;
          margin: 0 17px; }
      .car-sum-price .com-width .sum-pro-rt .car-pay-btn {
        display: block;
        float: left;
        margin: 30px 14px 0 66px;
        width: 200px;
        height: 40px;
        line-height: 40px;
        background: #f12020;
        font-size: 14px;
        color: #fff;
        font-family: "Microsoft YaHei", "微软雅黑", "Arial", sans-serif;
        cursor: pointer; }

/* 结算 */
/* 错误提示 */
#append_parent .dialog_head {
  margin: 0;
  position: relative;
  z-index: auto;
  text-align: center;
  border: none; }
  #append_parent .dialog_head .dialog_title {
    background-color: #FFF;
    display: inline-block;
    height: 20px;
    padding: 10px 20px;
    border: none 0; }
    #append_parent .dialog_head .dialog_title .dialog_title_icon {
      font-size: 20px;
      color: #666;
      font-weight: 100;
      line-height: 20px; }
  #append_parent .dialog_head .dialog_title {
    font-weight: 100;
    padding: 15px 20px; }
  #append_parent .dialog_head .dialog_close_button {
    font-family: Verdana;
    font-size: 14px;
    line-height: 20px;
    font-weight: lighter;
    color: #999;
    text-align: center;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    cursor: pointer; }
  #append_parent .dialog_head .dialog_close_button {
    font-size: 20px;
    color: #ddd; }

#append_parent .dialog_message_contents {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  min-width: 360px;
  padding: 30px 20px; }
  #append_parent .dialog_message_contents i {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    margin-right: 8px; }
  #append_parent .dialog_message_contents .alert_info {
    background: transparent url(../images/info.gif) no-repeat 0 0; }
  #append_parent .dialog_message_contents .alert_error {
    background: transparent url(../images/error.gif) no-repeat 0 0; }

#append_parent .dialog_message_contents {
  font-size: 16px;
  color: #666; }

#append_parent .dialog_buttons_bar {
  padding: 15px 0 30px;
  text-align: center;
  margin: 0;
  color: #666; }
  #append_parent .dialog_buttons_bar .dialog-bottom-btn {
    font-size: 12px;
    margin-left: 10px;
    font-weight: normal;
    line-height: 20px;
    color: #777;
    background-color: #F5F5F5;
    text-align: center;
    display: inline-block;
    height: 20px;
    padding: 4px 12px;
    border: solid 1px;
    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
    cursor: pointer; }
  #append_parent .dialog_buttons_bar .dialog-bottom-btn {
    border: none;
    background: #EF262B;
    width: 60px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 15px;
    outline: none;
    font-family: "Microsoft Yahei",Heiti, arial,helvetica,sans-serif !important; }

/* 错误提示 */
/* 底部 */
.footer {
  background: #efefef;
  margin-top: 40px;
  overflow: hidden; }

.com-width {
  width: 1226px;
  margin: 0 auto; }

.com-d {
  overflow: hidden; }

.footer-help {
  height: 340px; }

.help-about {
  padding: 37px 25px 0px;
  height: 77px;
  border-bottom: 1px solid #dddddd; }

.help-ways {
  margin-top: 20px;
  padding-left: 25px; }

.lf {
  float: left; }

.rt {
  float: right; }

.about-CQ-center {
  width: 236px;
  margin: 0px auto; }

.about-icon {
  float: left; }

.about-icon img {
  display: block; }

.about-describe {
  margin-left: 70px; }

.help-server ul li {
  line-height: 30px;
  height: 30px; }

.about-describe h1 {
  font-size: 18px;
  color: #333333;
  line-height: 18px; }

.about-describe p {
  font-size: 14px;
  line-height: 14px;
  color: #999;
  margin-top: 10px; }

.help-ways {
  margin-top: 20px;
  padding-left: 25px; }

.ml40 {
  margin-left: 40px; }

.help-server {
  /* width: 325px; */
  width: 385px;
  padding-top: 4px; }

.help-team {
  width: 186px;
  margin-left: 48px; }

.help-tel {
  width: 208px;
  margin-left: 62px;
  height: 147px;
  border-left: 1px solid #cccccc;
  padding-top: 4px; }

.help-code {
  float: right;
  padding: 4px 22px 0px;
  height: 147px;
  width: 240px;
  border-left: 1px solid #cccccc; }

.help-server ul li.help-title {
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
  margin-bottom: 18px; }

.help-server ul li a {
  font-size: 12px;
  color: #999; }

.help-server ul li a:hover {
  color: red; }

.help-team .clearfix {
  height: 120px; }

.foot-shopping {
  border-top: 1px solid #cccccc;
  margin-top: 14px;
  padding-top: 14px; }

.foot-shopping p {
  line-height: 30px; }

.foot-shopping p a {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
  font-weight: 500; }

.foot-shopping p a:hover {
  color: red; }

.airlines {
  background: url(../images/footer/l2.png) no-repeat left center;
  margin-top: 6px; }

.help-tel p {
  margin-left: 35px;
  padding-left: 33px;
  height: 20px;
  line-height: 20px; }

.help-tel p a {
  font-size: 14px;
  color: #666666; }

.feedback {
  background: url(../images/footer/l1.png) no-repeat left center;
  margin-top: 13px; }

.help-tel h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  line-height: 22px;
  margin-bottom: 15px; }

.help-code {
  float: right;
  padding: 4px 22px 0px;
  height: 147px;
  width: 240px;
  border-left: 1px solid #cccccc; }

.help-code-box p {
  font-size: 14px;
  color: #333333;
  line-height: 32px;
  text-align: center; }

.foot-statement {
  height: 224px;
  background: #333333; }

.foot-logo {
  text-align: center;
  height: 36px;
  vertical-align: middle;
  margin-bottom: 19px;
  margin-top: 20px; }

.foot-txt p {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #999999; }

.foot-note {
  overflow: hidden;
  margin-top: 24px; }

.foot-note p {
  float: left;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  font-size: 12px;
  color: #999999; }

.foot-note p img {
  margin-right: 10px; }

.foot-note p a {
  color: #999999; }

/* 右侧滚动效果 */
.pro-float-box {
  position: fixed;
  right: 0px;
  bottom: 224px;
  z-index: 200;
  display: block; }
  .pro-float-box li {
    width: 40px;
    height: 40px; }
    .pro-float-box li a {
      position: relative;
      display: block; }
      .pro-float-box li a span {
        display: block;
        background: url(../images/pro-float-car-num_03.png) no-repeat;
        width: 18px;
        height: 22px;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: -4px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        font-size: 12px;
        display: none; }
  .pro-float-box .pro-float-center {
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9; }
  .pro-float-box .pro-float-toTop {
    display: none; }
